body{
        font-family: Open Sans
    }
    main{
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    #centerDiv{
        display: flex;
        flex-direction: row;
        margin-bottom: 50px
    }
    #iconsDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #iconsDiv a{
        margin-right: 10px;
    }